
* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
}
.search{
    top:245px;
    width: 500px;
    left: 101px;

}
.search input{
    width: 500px;
    font-size: 22px;
    padding: 20px;
    border-radius: 40px;
    background-color: rgb(230, 230, 55);
}
.socialLink :hover{
    color:rgb(38, 23, 172);
    text-decoration: underline;

    cursor: pointer;
}
.btn{
    width: 44%;
}
.cancel-btn{
    top: 6px;
    right: 10px;
    font-weight: lighter;
    cursor: pointer;
}
